/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  padding-left: 3%;  /* Added padding on the left */
  padding-right: 3%; /* Added padding on the right */
}

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #fff; /* Updated to white text */
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

/* Text */
p {
  margin-bottom: 15px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul, ol {
  margin-bottom: 15px;
}

li {
  margin-bottom: 10px;
}

/* Footer */
.footer {
  text-align: center;
  font-size: 0.9em;
  margin-top: 50px;
  color: #fff; /* Updated to white text */
}
